body {
  position: relative;
  min-height: 100vh;
}

.section {
  padding-bottom: 175px;

  @include mqmax(sm) {
    padding-bottom: 288px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 175px;

  @include mqmax(sm) {
    height: 288px;
  }
}

//top-bar navigation
.top-bar {
  position: relative;
  width: 100%;
  border-bottom: 2px solid $grey-light;

  .left span {
    color: $grey-2;
    font-weight: 600;
    @include mqmax(sm) {
      font-size: 13px;
      line-height: 17px;
    }
  }

  @include e(logo) {
    display: inline-block;
    border-right: 1px solid $grey-light;
    padding-right: 16px;
    margin-right: 16px;

    @include mqmax(sm) {
      width: 172px;
      margin-right: 8px;
    }
  }

  @include e(menu) {
    position: absolute;
    top: 23px;
    right: 16px;

    @include mqmax(sm) {
      position: unset;
      text-align: right;
      font-size: 14px;
    }
  }

  @include e(menu-item) {
    display: flex;

    @include mqmax(sm) {
      display: block;
      margin-bottom: 0;

      li {
        padding-top: 15px;
      }
    }

    a {
      line-height: 24px;
    }
  }

  .navbar-toggler {
    position: absolute;
    top: 20px;
    right: 0;
  }

  .left {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit;
  }
}

//Main navigations
.navbar {
  padding-bottom: 0;
  display: block;
  text-align: center;
  white-space: nowrap;
  padding: 14px 16px 0 16px;
  box-shadow: 0px 2px 0px $grey-light;

  @include mqmax(lg) {
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include e(item) {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 32px;

      @include mqmax(sm) {
        margin-right: 24px;
      }
    }
  }

  @include e(link) {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: $grey-1;
    padding-bottom: 16px;

    @include m(active) {
      color: $primary-color;
      font-weight: 800;
      border-bottom: 3px solid $secondary-color;
    }

    @include mqmax(sm) {
      font-size: 14px;
      line-height: 14px;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.footer {
  width: 100%;
  background-color: $primary-color;
  color: $white;

  .footer-top {
    margin: 0 auto;

    @include e(info) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 34px 0;

      @include mqmax(sm) {
        flex-direction: column;
      }
    }

    @include e(logo) {
      margin-right: 34px;
    }

    @include e(text) {
      font-size: 14px;
      line-height: 16px;

      @include mqmax(sm) {
        margin-top: 34px;
      }
    }
  }

  .footer-bottom {
    background-color: #004068;
    text-align: center;
    padding: 16px 45px;
    font-size: 14px;
    line-height: 16px;
  }
}
