<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password Changed</title>
  </head>

  <body
    style="
      margin: 0;
      background-color: #ffffff;
      font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    "
  >
    <center class='wrapper' style='width: 100%; table-layout: fixed; background-color: #ffffff; padding-bottom: 30px'>
      <table
        class='main'
        width='100%'
        style='border-spacing: 0; background-color: #ffffff; margin: 0 auto; width: 100%; max-width: 745px'
      >
        <tr>
          <td style='padding: 0'>
            <table width='100%' style='border-spacing: 0; padding: 10px'>
              <tr>
                <td style='padding: 0'>
                  <table
                    width='100%'
                    style='border-spacing: 0; border: 1px solid #d8d8d8; text-align: center; padding: 36px 8px'
                  >
                    <tr>
                      <td style='padding: 0'>
                        <table width='100%' style='border-spacing: 0'>
                          <tr>
                            <td style='padding: 0'>
                              <a
                                href='https://[YOURDOMAIN]/Pages/Home.aspx'
                                target='_blank'
                                rel='noopener noreferrer'
                              ><img src='{{ sdcoeLogo }}' alt='SDCOE_Logo' style='border: 0' />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style='padding: 0'>
                        <table
                          width='100%'
                          style='
                            border-spacing: 0;
                            max-width: 586px;
                            margin: 40px auto 0px;
                            border-bottom: 1px solid #d8d8d8;
                          '
                        >
                          <tr>
                            <td style='padding: 0'>
                              <svg
                                width='89'
                                height='89'
                                viewbox='0 0 89 89'
                                fill='none'
                                xmlns='http://www.w3.org/2000/svg'
                              >
                                <path
                                  d='M44.4981 7.41504C24.0281 7.41504 7.41479 24.0284 7.41479 44.4984C7.41479 64.9684 24.0281 81.5817 44.4981 81.5817C64.9681 81.5817 81.5815 64.9684 81.5815 44.4984C81.5815 24.0284 64.9681 7.41504 44.4981 7.41504ZM37.0815 63.04L18.5398 44.4984L23.7685 39.2696L37.0815 52.5455L65.2277 24.3992L70.4565 29.665L37.0815 63.04Z'
                                  fill='#4CAF50'
                                ></path>
                              </svg>
                              <p
                                style='
                                  font-weight: bold;
                                  font-size: 28px;
                                  line-height: 34px;
                                  text-align: center;
                                  color: #005488;
                                  margin-top: 16px;
                                '
                              >
                                Password Changed
                              </p>
                              <p
                                style='
                                  max-width: 492px;
                                  margin: 29px auto 30px;
                                  font-weight: 600;
                                  font-size: 18px;
                                  line-height: 24px;
                                  text-align: center;
                                  color: #5a5a5a;
                                '
                              >
                                You are receiving this email as a confirmation that your password has been changed.
                                <br /><br />
                              </p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style='padding: 0'>
                        <p
                          style='
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            color: #a9a9a9;
                            text-align: center;
                            margin: 44px auto 0px; ;
                          '
                        >
                          You didn't make any request?
                          <a href='mailto:{{ mailTo }}' style='color: #0ab1f1; text-decoration: none'>
                            Let us know.</a>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style='padding: 0'>
                  <table
                    width='100%'
                    style='border-spacing: 0; text-align: center; max-width: 464px; margin: 32px auto 0px'
                  >
                    <tr>
                      <td style='padding: 0'>
                        <p style='font-size: 14px; line-height: 16px; color: #a9a9a9'>
                          [YOURORGANIZATIONNAMEADDRESSPHONE]<br />
                          [YOURORGANIZATIONNAMEADDRESSPHONE]<br />
                          [YOURORGANIZATIONNAMEADDRESSPHONE]<br />
                          [YOURORGANIZATIONNAMEADDRESSPHONE]
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
