<div class="header">
  <div class="header__main">
    <h1>{{ schoolName }}</h1>
    <p class="body2 text-uppercase">Transcript of Student Progress</p>
  </div>
  <div class="header__address body2">
<!--    Is not available in data. Might be available in future -->
<!--    \{{ schoolAddress }}-->
<!--    Phone: \{{ schoolPhone }}, Website: \{{ schoolWebsite }}-->
  </div>
</div>