<div class="gpa-weight-section small frame">
  <table width="100%">
    <thead>
    <tr>
      <th width="210"></th>
      <th width="110">Weighted</th>
      <th>Non-Weighted</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Acad GPA (9-12)</td>
      <td>4.5926</td>
      <td>4.5926</td>
    </tr>
    <tr>
      <td>Acad GPA (9-12)</td>
      <td>4.5000</td>
      <td>4.5000</td>
    </tr>
    <tr>
      <td>Total GPA (9-12)</td>
      <td>4.5161</td>
      <td>4.5161</td>
    </tr>
    </tbody>
    <tbody class="credit-section">
    <tr>
      <td>Credit Attempted:</td>
      <td>155.00</td>
    </tr>
    <tr>
      <td>Credit Completed:</td>
      <td>155.00</td>
    </tr>
    </tbody>
  </table>
</div>