// Default Color
$white: #ffffff !default;
$black: #000000 !default;

// Base colors
$primary-color: #005488 !default;
$secondary-color: #0AB1F1 !default;
$error-color: #F44336 !default;
$success-color: #4CAF50 !default;
$warning-color: #FF9800 !default;
$accent-color: #F0F6F8 !default;

$bg-color: $white;
$grey-1: #5A5A5A; 
$grey-2: #A9A9A9;
$grey-3: #D8D8D8;
$grey-4: #F5F5F5;
$grey-light:#EDEDED;


$input-placeholder-color: $grey-2;

//Color Palette
$colorMap: (
  "white": (
    "base": $white,
  ),
  "black": (
    "base": $black,
  ),
  "primary": (
    "base": $primary-color,
    "dark": darken($primary-color, 10%),
    "light": lighten($primary-color, 10%),
  ),
  "secondary": (
    "base": $secondary-color,
    "dark": darken($secondary-color, 10%),
    "light": lighten($secondary-color, 10%),
  ),
);

$component-color-variants: (
  "primary": (
    "bg-color": getColor("primary.base"),
    "hover-color": getColor("primary.dark"),
  ),
  "secondary": (
    "bg-color": getColor("secondary.base"),
    "hover-color": getColor("secondary.dark"),
  ),
);
