.custom-checkbox-wrapper {
  display: flex;
  justify-content: center;
}

.custom-checkbox {
  position: relative;
  margin-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -mz-user-select: none;
  -ms-user-select: none;
  font-size: 20px;
  top: -6px;
  input {
    height: 0;
    width: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
}

.custom-checkbox-checkmark {
  height: 20px;
  width: 20px;
  background: $white;
  border: 1px solid $grey-2;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

// .custom-checkbox input:hover ~ .custom-checkbox-checkmark {
//   border-color: $grey-3;
// }

.custom-checkbox input:checked ~ .custom-checkbox-checkmark {
  background: $secondary-color;
  border-color: transparent;
}

.custom-checkbox-checkmark:after {
  content: '';
  display: none;
  position: absolute;
}

.custom-checkbox input:checked ~ .custom-checkbox-checkmark:after {
  display: block;
}

.custom-checkbox-checkmark:after {
  height: 10px;
  width: 6px;
  border: solid $white;
  position: absolute;
  border-width: 0 2px 2px 0;
  top: 3px;
  left: 6px;
  cursor: pointer;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
