<div class="certificate-footer">
  <ul class="list">
    <li class="list-item">
      <img src={{superintendentSignature}} alt="certificate-issuer" />
      <span class="signature-line"></span>
      <p class="issuer-designation">Superintendent of Schools</p>
      <p class="issuer-organization">San Diego County Office of Education</p>
    </li>
    <li class="list-item">
      <img src={{firstSeniorDirectorSignature}} alt="certificate-issuer" />
      <span class="signature-line"></span>
      <p class="issuer-designation">Senior Director, San Diego County</p>
      <p class="issuer-organization">Regional Occupational Program</p>
    </li>
    <li class="list-item">
      <img src={{secondSeniorDirectorSignature}} alt="certificate-issuer" />
      <span class="signature-line"></span>
      <p class="issuer-designation">Senior Director, San Diego County</p>
      <p class="issuer-organization">Regional Occupational Program</p>
    </li>
  </ul>
</div>