<div class="header">
  <h1>San Diego County Office of Education Regional Occupational Program</h1>
  <div class="header__right">
    <div class="image-wrapper">
      <img src={{sdcoeLogo}} alt="SDCOE">
    </div>
    <div class="address">
      6401 Linda Vista Road
      San Diego, CA 92111-7319
      Phone: (858)-292-3500
      Fax: (858)-268-9726
    </div>
  </div>
</div>