<div class="student-info-section">
  <table width="100%">
    <tbody>
      <tr>
        <td width="475">
          Student Name:<strong class="student-name">{{firstName}} {{lastSurname}}</strong>
        </td>
        <td></td>
        <td width="180">Birth Date:<strong class="dob">{{birthDate}}</strong></td>
        <td>Gender:<strong>{{{firstChar gender}}}</strong></td>
      </tr>
    </tbody>
    <tbody>
    </tbody>
  </table>
</div>