<div class="rop-footer">
  <p>
    Re: Transcript of Attendance <br /><br />
    In accordance with the authorization to release student information of the filesc in this office, the
    following data is provided:<br /><br />
    Please Note: Pursuant to Education Code Section 49075, you are hereby notified that the transmission of the
    above stated information to
    others is strictly forbidden without the written consent of the parent (if the student is under 18 years of
    age) or the student.<br /><br />
    Duplicate certificate older than three years are issued in a form of a transcript.
  </p><br />
  <div>
    <p>
      Learning and Leadership Division<br />
      Curriculum and Instruction<br />
      [YOUR DOMAIN]<br />
    </p>
    <div class="total-hours">Total Hours: <span>{{totalHours}}</span></div>
  </div>
</div>
