.modal.right {

  .modal-dialog {
    position         : fixed;
    top              : 0;
    right            : 0;
    margin           : auto;
    width            : 100%;
    max-width        : 520px;
    height           : 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform    : translate3d(0%, 0, 0);
    -o-transform     : translate3d(0%, 0, 0);
    transform        : translate3d(0%, 0, 0);
  }

  .modal-content {
    height       : 100%;
    overflow-y   : auto;
    border-radius: 0;
    border       : none;
  }
}

.modal.right.fade .modal-dialog {
  right             : -520px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition   : opacity 0.3s linear, right 0.3s ease-out;
  -o-transition     : opacity 0.3s linear, right 0.3s ease-out;
  transition        : opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal-header {
  position        : sticky;
  top             : 0;
  left            : 0;
  width           : 100%;
  border          : 0;
  padding         : 26px 24px 8px;
  background-color: white;
  z-index         : 1000;
  flex-direction  : column;

  .close {
    padding: 0;
  }

  .modal-title {
    color      : $grey-1;
    margin-top : 16px;
    font-weight: bold;
    font-size  : 28px;
    line-height: 34px;
  }
}

.modal-body {
  padding    : 16px 24px 68px;
  color      : $grey-1;
  font-weight: 400;
  font-size  : 16px;
  line-height: 20px;

  @include mqmax(sm) {
    font-size: 14px;
  }

  .key {
    color: $grey-2;
  }
}